server:
  port: 8080

spring:
  application:
    name: desafiopicpay
  datasource:
    url: jdbc:h2:mem:dbtest
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true